.search-result {
    background-color: palevioletred;
}

.search-result:hover {
    background-color: pink;
}

Button {
    background-color: transparent;
    border: transparent;
    color: white;
}




.text {
    font-size: 13px;
    
}

/* Scrollbar styling */
::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: palevioletred; /* Track background */
}

::-webkit-scrollbar-thumb {
    background: pink; /* Scrollbar thumb (draggable part) */
    border-radius: 5px; /* Rounded edges */
}

::-webkit-scrollbar-thumb:hover {
    background: hotpink; /* Color when hovered */
}