.App {

  text-align: center;
  /*overflow-y: scroll; /* Always shows vertical scrollbar */
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #182134;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box {
  color: pink;
  width: 1200px;
  height: 55px;
  border: 5px solid white;
  padding: 25px;
  margin: 20px; 
  

}

.box ul {
  text-align: right;
  color: pink;
  margin-top: -70px;
}

.box img {
  margin-top: -15px;
}

li{
  display:inline;
  margin-right:10px;
  text-decoration:underline;
  font-size: 20px;
}

.button-container-five {
  display: flex;
  gap: 100px; /* Adds space between buttons */
}

.sakila{
color: lightblue;
align-self: flex-start;
align-self: center;
margin-left: -1000px;
margin-bottom: -90px;
font-family: 'Arial', sans-serif;

}